<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NotificationService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PayBack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6992B7022063A536001D824D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4BD8E11F4C13C9008C0E0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4BD8F81F4C13C9008C0E0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4BD9031F4C13C9008C0E0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
